---
# - name: Windows License Key Installation
#   ansible.windows.win_shell: cscript slmgr.vbs -ipk {{ win_license_key }}
#   args:
#     chdir: C:\Windows\System32\

# - name: Windows License Key Activation
#   ansible.windows.win_shell: cscript slmgr.vbs -ato
#   args:
#     chdir: C:\Windows\System32\

- name: Sleep Settings Disablement
  ansible.windows.win_shell: |
    powercfg -change -monitor-timeout-ac 0
    powercfg -change -monitor-timeout-dc 0
    powercfg -change -standby-timeout-ac 0
    powercfg -change -standby-timeout-dc 0
    powercfg -change -hibernate-timeout-ac 0
    powercfg -change -hibernate-timeout-dc 0