---
- name: Window Server Hyper-V Installation
  ansible.windows.win_feature:
    name: Hyper-V
    include_sub_features: yes
    include_management_tools: yes
    state: present
  register: win_server_hyper_v_installation
  when: "'servers' in group_names"

- name: Windows Hyper-V Installation
  ansible.windows.win_optional_feature:
    name: Microsoft-Hyper-V-All
    state: present
  register: win_hyper_v_installation
  when: "'pcs' in group_names"

- name: Reboot to Apply Hyper-V Installation
  ansible.windows.win_reboot:
  when: >
    (win_server_hyper_v_installation is defined and win_server_hyper_v_installation.reboot_required | default(false))
    or
    (win_hyper_v_installation is defined and win_hyper_v_installation.reboot_required | default(false))

- name: Hyper-V Switch Create
  ansible.windows.win_powershell:
    script: |
      $switchName = "{{ item.name }}"
      $adapterName = "{{ item.adapter }}"
      $existingSwitch = Get-VMSwitch -Name $switchName -ErrorAction SilentlyContinue

      if (-not $existingSwitch) {
          New-VMSwitch -Name $switchName -NetAdapterName $adapterName -AllowManagementOS $true -EnableIov $true
          $Ansible.Changed = $true
      } else {
          $Ansible.Changed = $false
      }
  loop: "{{ hyper_v_switches }}"
  when: hyper_v_switches is defined

- name: Default VM Location Update
  ansible.windows.win_powershell:
    script: |
      $hyperVParentDir = "{% if 'servers' in group_names %}{{ srv_hyper_v_parent_dir }}{% else %}{{ pc_hyper_v_parent_dir }}{% endif %}\"
      Write-Output "HyperV parent dir: $hyperVParentDir"
      Write-Host "HyperV parent dir: $hyperVParentDir"
      $currentVMPath = (Get-VMHost).VirtualMachinePath
      $currentVHDPath = (Get-VMHost).VirtualHardDiskPath

      $changed = $false
      if ($currentVMPath -ne $hyperVParentDir) {
          Set-VMHost -VirtualMachinePath $hyperVParentDir
          $changed = $true
      }

      if ($currentVHDPath -ne $hyperVParentDir) {
          Set-VMHost -VirtualHardDiskPath $hyperVParentDir
          $changed = $true
      }
      
      $Ansible.Changed = $changed