---
- name: Hyper-V Installation
  ansible.windows.win_feature:
    name: Hyper-V
    include_sub_features: yes
    include_management_tools: yes
    state: present
  register: hyper_v_installation

- name: Reboot to Apply Hyper-V Installation
  ansible.windows.win_reboot:
  when: hyper_v_installation.reboot_required

- name: Hyper-V Switch Create
  ansible.windows.win_powershell:
    script: |
      $switchName = "{{ hyper_v_switch_name }}"
      $adapterName = "{{ hyper_v_adapter_name }}"
      $existingSwitch = Get-VMSwitch -Name $switchName -ErrorAction SilentlyContinue

      if (-not $existingSwitch) {
          New-VMSwitch -Name $switchName -NetAdapterName $adapterName -AllowManagementOS $true -EnableIov $true
          $Ansible.Changed = $true
      } else {
          $Ansible.Changed = $false
      }

- name: Default VM Location Update
  ansible.windows.win_powershell:
    script: |
      $hyperVParentDir = "{{ hyper_v_parent_dir }}"
      $currentVMPath = (Get-VMHost).VirtualMachinePath
      $currentVHDPath = (Get-VMHost).VirtualHardDiskPath

      $changed = $false
      if ($currentVMPath -ne $hyperVParentDir) {
          Set-VMHost -VirtualMachinePath $hyperVParentDir
          $changed = $true
      }

      if ($currentVHDPath -ne $hyperVParentDir) {
          Set-VMHost -VirtualHardDiskPath $hyperVParentDir
          $changed = $true
      }
      
      $Ansible.Changed = $changed