---
- name: IPv6 Disablement
  ansible.windows.win_powershell:
    script: |
      $adapter = "{{ item.adapter }}"
      $binding = "ms_tcpip6"
      $current = Get-NetAdapterBinding -Name $adapter -ComponentID $binding
      if ($current.Enabled) {
        Disable-NetAdapterBinding -Name $adapter -ComponentID $binding -PassThru | Out-Null
        $Ansible.Changed = $true
      } else {
        $Ansible.Changed = $false
      }
  loop: "{{ v_switches }}"

- name: DNS Server Configuration for Non-Domain Controllers
  ansible.windows.win_dns_client:
    adapter_names: "{{ item.adapter }}"
    dns_servers: 
      - "{{ hostvars['KVM-DC01'].v_switches | selectattr('adapter', 'equalto', item.adapter) | map(attribute='ip') | first }}"
      - "{{ hostvars['KVM-DC02'].v_switches | selectattr('adapter', 'equalto', item.adapter) | map(attribute='ip') | first }}"
      # - "{{ hostvars['KVM-DC02'].v_switches[0].ip }}"
  loop: "{{ v_switches }}"
  when: "'dcs' not in group_names"

# OU=Workstations
- name: Workstation Domain Join
  microsoft.ad.membership:
    dns_domain_name: "{{ domain_name }}"
    hostname: "{{ computer_name }}"
    domain_admin_user: "{{ domain_admin_user }}"
    domain_admin_password: "{{ domain_admin_password }}"
    domain_ou_path: "OU=Workstations,OU=Devices,DC=khangvum,DC=lab"
    domain_server: "{{ hostvars['KVM-DC01'].computer_name }}.{{ domain_name }}"
    state: domain
    reboot: true
  when: "'workstations' in group_names"

# OU=Servers.OU=Databases
- name: Databases Domain Join
  microsoft.ad.membership:
    dns_domain_name: "{{ domain_name }}"
    hostname: "{{ computer_name }}"
    domain_admin_user: "{{ domain_admin_user }}"
    domain_admin_password: "{{ domain_admin_password }}"
    domain_ou_path: "OU=Databases,OU=Servers,OU=Devices,DC=khangvum,DC=lab"
    domain_server: "{{ hostvars['KVM-DC01'].computer_name }}.{{ domain_name }}"
    state: domain
    reboot: true
  when: "'databases' in group_names"

# OU=Servers,OU=IIS
- name: IIS Domain Join
  microsoft.ad.membership:
    dns_domain_name: "{{ domain_name }}"
    hostname: "{{ computer_name }}"
    domain_admin_user: "{{ domain_admin_user }}"
    domain_admin_password: "{{ domain_admin_password }}"
    domain_ou_path: "OU=IIS,OU=Servers,OU=Devices,DC=khangvum,DC=lab"
    domain_server: "{{ hostvars['KVM-DC01'].computer_name }}.{{ domain_name }}"
    state: domain
    reboot: true
  when: "'webs' in group_names"