---
- name: Linux Variables Load
  ansible.builtin.include_vars:
    file: ../../../variables/os_var/linux_var.yml
    
- name: Docker Installation
  community.general.snap:
    name: docker
    state: present

- name: "'docker' Group Creation"
  ansible.builtin.group:
    name: docker
    state: present

- name: User Add to 'docker' Group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

- name: Connection Reset to Apply Group Changes
  ansible.builtin.meta: reset_connection