---
- name: Windows Domain Creation
  microsoft.ad.domain:
    dns_domain_name: "{{ domain_name }}"
    safe_mode_password: "{{ safe_mode_password }}"
    reboot: true
  when: "'dcs' in group_names"

- name: Workstations OU Creation
  microsoft.ad.ou:
    name: "Workstations"
    description: "Organizational Unit for Workstations"
    path: "DC=khangvum,DC=lab"
    state: present
  when: "'dcs' in group_names"

# - name: Domain Controller Promotion
#   microsoft.ad.domain_controller:
#     dns_domain_name: "{{ domain_name }}"
#     domain_admin_user: "{{ domain_admin_user }}"
#     domain_admin_password: "{{ domain_admin_password }}"
#     safe_mode_password: "{{ safe_mode_password }}"
#     state: domain_controller
#     reboot: true