---
- name: Windows Domain Creation
  microsoft.ad.domain:
    dns_domain_name: "{{ domain_name }}"
    safe_mode_password: "{{ safe_mode_password }}"
    reboot: true
  when: "'dcs' in group_names"

- name: DNS Server Configuration for Domain Controllers
  ansible.windows.win_dns_client:
    adapter_names: "{{ item.adapter }}"
    dns_servers: 127.0.0.1
  loop: "{{ hyper_v_switches }}"
  when: "'dcs' in group_names"

# OU Structure
# ---------------------------------------------
# khangvum.lab
# ├── OU=Domain Controllers (Default)
# ├── OU=Workstations
# └── OU=Servers
#     ├── OU=Databases
#     └── OU=IIS

# Workstations OU
- name: Workstations OU Creation
  microsoft.ad.ou:
    name: "Workstations"
    description: "Organizational Unit for Workstations"
    path: "DC=khangvum,DC=lab"
    state: present
  when: "'dcs' in group_names"

# Servers OU
- name: Servers OU Creation
  microsoft.ad.ou:
    name: "Servers"
    description: "Organizational Unit for Servers"
    path: "DC=khangvum,DC=lab"
    state: present
  when: "'dcs' in group_names"

# Databases OU, child of Servers OU
- name: Databases OU Creation
  microsoft.ad.ou:
    name: "Databases"
    description: "Organizational Unit for Database Servers"
    path: "OU=Servers,DC=khangvum,DC=lab"
    state: present
  when: "'dcs' in group_names"

# IIS OU, child of Servers OU
- name: IIS OU Creation
  microsoft.ad.ou:
    name: "IIS"
    description: "Organizational Unit for IIS Servers"
    path: "OU=Servers,DC=khangvum,DC=lab"
    state: present
  when: "'dcs' in group_names"

# - name: Domain Controller Promotion
#   microsoft.ad.domain_controller:
#     dns_domain_name: "{{ domain_name }}"
#     domain_admin_user: "{{ domain_admin_user }}"
#     domain_admin_password: "{{ domain_admin_password }}"
#     safe_mode_password: "{{ safe_mode_password }}"
#     state: domain_controller
#     reboot: true