---
- name: Gather Windows Host Information
  ansible.windows.win_powershell:
    script: |
      $osInfo = Get-CimInstance Win32_OperatingSystem | Select-Object Caption, Version, ServicePackMajorVersion, OSArchitecture

      $Ansible.Result = $osInfo
      $Ansible.Changed = $false
  register: windows_info
  when: inventory_hostname != "KVM-SRV02"
- debug: 
    msg: "{{ windows_info }}"
  when: inventory_hostname != "KVM-SRV02"

- name: Gather ESXi Host Information
  delegate_to: localhost
  vars:
    ansible_connection: local
    ansible_shell_type: sh
    ansible_python_interpreter: /usr/bin/python3
  community.vmware.vmware_host_facts:
    hostname: "{{ ansible_host }}"
    username: "{{ ansible_user }}"
    password: "{{ ansible_password }}"
    validate_certs: false
  register: esxi_info
  when: inventory_hostname == "KVM-SRV02"
- debug:
    msg: "{{ esxi_info }}"
  when: inventory_hostname == "KVM-SRV02"