---
# Reference: https://gethomepage.dev/configs/bookmarks/
- Repositories:
  - homelab-ansible-config:
    - icon: si-ansible-#EE0000
      href: https://github.com/khangvum/homelab-ansible-config
  - sad-scripts:
    - icon: si-powershell-#5391FE
      href: https://github.com/khangvum/sad-scripts
  - answer-files:
    - icon: si-windowsterminal-#4D4D4D
      href: https://github.com/khangvum/answer-files

- Social Media:
  - LinkedIn:
    - icon: si-linkedin-#0A66C2
      href: https://www.linkedin.com/in/khangvum/
  - GitHub:
    - icon: si-github-#181717
      href: https://github.com/khangvum
  - Email:
    - icon: si-gmail-#EA4335
      href: mailto:manhkhang0305@gmail.com