---
# Reference: https://gethomepage.dev/configs/settings/

title: Homepage
headerStyle: boxed

background:
  image: https://wallpaperbat.com/img/812263-free-website-background.jpg
  blur: xl
  brightness: 80
  opacity: 50

cardBlur: sm

layout:
  Monitoring:
    style: row
    columns: 4
    icon: mdi-server-#FFFFFF
  Networking:
    icon: mdi-network-#FFFFFF
  Management:
    icon: mdi-cog-box-#FFFFFF

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: false
  showSearchSuggestions: true
  hideVisitURL: false
  provider: bing
