---
# Reference: https://gethomepage.dev/configs/info-widgets/
- resources:
    cpu: true
    memory: true
    disk: /

- search:
    provider: bing
    target: _blank
  
- datetime:
    text_size: md
    format:
      dateStyle: short
      timeStyle: short
      hourCycle: h23