---
- name: Filebrowser Variables Load
  ansible.builtin.include_vars:
    file: ../../variables/docker_var/filebrowser_var.yml

- name: CIFS (Common Internet File System) Utilities Installation
  ansible.builtin.apt:
    name: cifs-utils

- name: Mount Point Directory Creation
  ansible.builtin.file:
    name: "{{ mount_dir }}"
    state: directory

- name: NAS Credentials File Creation
  ansible.builtin.template:
    src: cifs_credentials.j2
    dest: /etc/cifs_credentials
    owner: root
    group: root
    mode: '0600'

- name: Permanent Mount Configuration
  ansible.posix.mount:
    src: "{{ nas_path }}"
    path: "{{ mount_dir }}"
    fstype: cifs
    opts: "credentials=/etc/cifs_credentials,uid=1000,gid=1000,iocharset=utf8,vers=3.0,nofail"
    state: mounted
  register: permanent_mount

- name: Reload to Apply Changes
  ansible.builtin.systemd_service:
    daemon_reload: true
  when: permanent_mount.changed

- name: Mount Execution
  ansible.builtin.command:
    cmd: mount -a
  when: permanent_mount.changed

- name: filebrowser Directory Creation
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'
  loop:
    - "{{ filebrowser_parent_dir }}"
    - "{{ filebrowser_parent_dir }}/database"
    - "{{ filebrowser_parent_dir }}/config"

- name: Docker Compose File Creation
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ filebrowser_parent_dir }}/docker-compose.yml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'
  register: docker_compose_file

# If first time deployment, default password can be found in the filebrowser logs: `docker logs filebrowser`
- name: Filebrowser Deployment
  ansible.builtin.command:
    cmd: docker-compose up -d
    chdir: "{{ filebrowser_parent_dir }}"
  when: docker_compose_file.changed