---
services:
  postgresql:
    image: docker.io/library/postgres:16-alpine
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_DB: "{{ nextcloud_postgres_db }}"

  redis:
    image: docker.io/library/redis:7-alpine
    command: redis-server --save "" --appendonly no --loglevel warning
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - ./redis_data:/data

  app:
    image: docker.io/library/nextcloud:{{ nextcloud_version }}
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      POSTGRES_HOST: postgresql
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_DB: "{{ nextcloud_postgres_db }}"
      REDIS_HOST: redis
      NEXTCLOUD_ADMIN_USER: "{{ ansible_user }}"
      NEXTCLOUD_ADMIN_PASSWORD: "{{ ansible_password }}"
      NEXTCLOUD_TRUSTED_DOMAINS: "nextcloud.khangvum.com nextcloud.{{ domain_name }} {{ hostvars['KVM-NAS01'].ansible_host }} localhost 127.0.0.1"
      OVERWRITES: "nextcloud.khangvum.com"
      OVERWRITEPROTOCOL: "https"
      OVERWRITECLIURL: "https://nextcloud.khangvum.com"
      OVERWRITECONDADDR: "^.*$"
      TRUSTED_PROXIES: "172.16.0.0/12"
    volumes:
      - ./html:/var/www/html
      - "{{ nas_mount_dir }}:/var/www/html/data"
    depends_on:
      postgresql:
        condition: service_healthy
      redis:
        condition: service_healthy

  cron:
    image: docker.io/library/nextcloud:{{ nextcloud_version }}
    restart: unless-stopped
    entrypoint: /cron.sh
    environment:
      POSTGRES_HOST: postgresql
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_DB: "{{ nextcloud_postgres_db }}"
      REDIS_HOST: redis
    volumes:
      - ./html:/var/www/html
      - "{{ nas_mount_dir }}:/var/www/html/data"
    depends_on:
      postgresql:
        condition: service_healthy
      redis:
        condition: service_healthy