---
- name: User Configuration
  ansible.windows.win_user:
    name: "{{ item.username }}"
    state: "{{ item.state }}"
    update_password: always
    password_never_expires: "{{ item.password_never_expires }}"
    account_disabled: "{{ item.account_disabled }}"
    groups:
      - "{{ item.group }}"
  loop: "{{ user_list }}"
  when: computer_name in item.host