---
- name: Local Administrator Configuration
  ansible.windows.win_user:
    name: "{{ item.username }}"
    password: "{{ item.password }}"
    state: "{{ item.state }}"
    update_password: always
    password_never_expires: "{{ item.password_never_expires }}"
    account_disabled: "{{ item.account_disabled }}"
    groups:
      - "{{ item.group }}"
  loop: "{{ local_admin_list }}"