---
- name: Windows License Status Query
  ansible.windows.win_shell: cscript slmgr.vbs /xpr
  args:
    chdir: C:\Windows\System32\
  register: license_status
  changed_when: false

- name: Windows License Key Installation
  ansible.windows.win_shell: cscript slmgr.vbs -ipk {{ win_license_key }}
  args:
    chdir: C:\Windows\System32\
  when: 
    - "'permanently activated' not in license_status.stdout"
    - "'workstations' in group_names"
  register: license_installation

# - name: Windows License Key Activation
#   ansible.windows.win_shell: cscript slmgr.vbs -ato
#   args:
#     chdir: C:\Windows\System32\
#   when: license_installation is changed

- name: Sleep Settings Disablement
  ansible.windows.win_powershell:
    script: |
      $changed = $false

      $types = @(
        @{type='monitor'; setting='VIDEOIDLE'},
        @{type='standby'; setting='STANDBYIDLE'},
        @{type='hibernate'; setting='HIBERNATEIDLE'}
      )
      
      $scheme = (powercfg /getactivescheme) -replace '.*GUID: ([\w-]+).*', '$1'
      foreach ($t in $types) {
        foreach ($acdc in @('ac','dc')) {
          $subgroup = if ($t.type -eq 'monitor') {'SUB_VIDEO'} else {'SUB_SLEEP'}
          $out = powercfg /query $scheme $subgroup $t.setting | Select-String "Current $($acdc.ToUpper()) Power Setting Index"
          if ($out) {
            $cur = [convert]::ToInt32(($out -split ':')[1].Trim(),16)
            if ($cur -ne 0) {
              powercfg -change -$($t.type)-timeout-$acdc 0
              $changed = $true
            }
          }
        }
      }
      $Ansible.Changed = $changed
  when: "'pcs' not in group_names"

- name: Time Zone Configuration
  ansible.windows.win_timezone:
    timezone: "{{ time_zone }}"