---
# IIS Configuration
- name: IIS Configuration
  hosts: webs
  gather_facts: false
  tags: iis_configuration
  vars_files:
    - ../variables/os_var/windows_var.yml
  tasks:
    - import_role:
        name: iis_deployment

# Container Deployment
- name: Container Deployment
  hosts: all:!KVM-SRV02
  gather_facts: false
  tags: container_deployment
  vars_files:
    - ../variables/domain_var/domain_var.yml
    - ../variables/docker_var/filebrowser_var.yml
    - ../variables/docker_var/management_var.yml
    - ../variables/docker_var/monitoring_var.yml
    - ../variables/docker_var/vpn_var.yml
  tasks:
    # - include_role:
    #     name: docker_configuration
    #   when: "'containers' in group_names"
    # - include_role:
    #     name: node_exporter_deployment
    #   when: "'containers' in group_names"
    # - include_role:
    #     name: windows_exporter_deployment
    #   when: "'containers' not in group_names"
    # # KVM-NAS
    # - include_role:
    #     name: filebrowser_deployment
    #   when: inventory_hostname == "KVM-NAS"
    # # KVM-MONITOR
    # - include_role:
    #     name: grafana_deployment
    #   when: inventory_hostname == "KVM-MONITOR"
    # - include_role:
    #     name: prometheus_deployment
    #   when: inventory_hostname == "KVM-MONITOR"
    # - include_role:
    #     name: snmp_exporter_deployment
    #   when: inventory_hostname == "KVM-MONITOR"
    # # KVM-VPN
    # - include_role:
    #     name: tailscale_deployment
    #   when: inventory_hostname == "KVM-VPN"
    # - include_role:
    #     name: npm_deployment
    #   when: inventory_hostname == "KVM-VPN"
    # KVM-MGMT
    - include_role:
        name: portainer_deployment
      when: inventory_hostname == "KVM-MGMT"