---
# NTP Server Configuration for Primary Domain Controller
- name: NTP Server Configuration for Primary Domain Controller
  ansible.windows.win_powershell:
    script: |
      $desired = "{{ ntp_servers }}"
      $regKey = 'HKLM:\SYSTEM\CurrentControlSet\Services\W32Time\Parameters'
          
      # Check current NTP Server list and type
      $currentServerList = (Get-ItemProperty -Path $regKey -Name NtpServer -ErrorAction SilentlyContinue).NtpServer
      $currentType = (Get-ItemProperty -Path $regKey -Name Type -ErrorAction SilentlyContinue).Type

      if ($currentServerList -ne $desired -or $currentType -ne 'NTP') {
        w32tm /config /syncfromflags:manual /manualpeerlist:"$desired" /reliable:yes /update
        Restart-Service w32time
        $Ansible.Changed = $true
      }
      else {
        $Ansible.Changed = $false
      }
  when: inventory_hostname == "KVM-DC01"

# NTP Server Configuration for Other Windows Hosts in Domain
- name: NTP Server Configuration for Other Windows Hosts in Domain
  ansible.windows.win_powershell:
    script: |
      $regKey = 'HKLM:\SYSTEM\CurrentControlSet\Services\W32Time\Parameters'
          
      # Check current NTP Server list and type
      $currentServerList = (Get-ItemProperty -Path $regKey -Name NtpServer -ErrorAction SilentlyContinue).NtpServer
      $currentType = (Get-ItemProperty -Path $regKey -Name Type -ErrorAction SilentlyContinue).Type

      if ($currentType -ne 'NT5DS') {
        w32tm /config /syncfromflags:DOMHIER /manualpeerlist:"$desired" /reliable:no /update
        Restart-Service w32time
        $Ansible.Changed = $true
      }
      else {
        $Ansible.Changed = $false
      }
  when:
    - "'vms' in group_names"
    - inventory_hostname != "KVM-DC01"
    - "'containers' not in group_names" # Exclude Linux hosts

- name: NTPServer Register Key Removal for Other Windows Hosts in Domain (If Any)
  ansible.windows.win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Services\W32Time\Parameters
    name: NtpServer
    state: absent
  when:
    - "'vms' in group_names"
    - inventory_hostname != "KVM-DC01"
    - "'containers' not in group_names" # Exclude Linux hosts

# NTP Server Configuration for Standalone Windows Hosts
- name: NTP Server Configuration for Standalone Windows Hosts
  ansible.windows.win_powershell:
    script: |
      $desired = "{{ ntp_servers }}"
      $regKey = 'HKLM:\SYSTEM\CurrentControlSet\Services\W32Time\Parameters'
          
      # Check current NTP Server list
      # No need to check for type as standalone hosts are not concerned with serving time to others
      $currentServerList = (Get-ItemProperty -Path $regKey -Name NtpServer -ErrorAction SilentlyContinue).NtpServer

      if ($currentServerList -ne $desired) {
        w32tm /config /syncfromflags:manual /manualpeerlist:"$desired" /update
        Restart-Service w32time
        $Ansible.Changed = $true
      }
      else {
        $Ansible.Changed = $false
      }
  when:
    - "'servers' in group_names"
    - inventory_hostname != "KVM-SRV02"